<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/style.css" />
  <title>About</title>
</head>

<body id="main-about">

  <nav class="dark-navbar">
    <div class="navbar-cointainer">


      <button class="button4-56" role="button"> <a href="/home">
          Home
        </a>
      </button>

      <button class="button2-56" role="button2"><a href="/works">
          Works
        </a></button>
      <button class="button3-56" role="button">
        <a href="/gallery">
          Photos
        </a>
      </button>
    </div>

  </nav>
  <br>
  <br>
  <div class="about-monty">
    <h1>About Monty Pynton</h1>
  </div>



  <div id="first-p">

    <p>Monty Python (also collectively known as the Pythons) were a British surreal comedy troupe who created the sketch comedy television show Monty Python's Flying Circus, which first aired on the BBC in 1969. Forty-five episodes were made over four series. The Python phenomenon developed from the television series into something larger in scope and influence, including touring stage shows, films, albums, books and musicals. The Pythons' influence on comedy has been compared to the Beatles' influence on music. Regarded as an enduring icon of 1970s pop culture, their sketch show has been referred to as being "an important moment in the evolution of television comedy".

      Originalmente composto por Eric Idle, Graham Chapman, John Cleese, Michael Palin, Terry Jones, jovens atores britânicos que implementaram um novo estilo de texto e representação, marcadamente anárquico e pautado pelo completo surrealismo das cenas. Também contavam com Terry Gilliam, cartunista que trabalhara na revista Mad.

      O grupo também contava com Carol Cleveland, Neil Innes e alguns outros atores, todos tendo participações menores. Também esteve em alguns sketches Connie Booth, ex-mulher de John Cleese.

      De igual modo, fizeram participações especiais celebridades como Steve Martin, Douglas Adams (autor da série O Guia do Mochileiro das Galáxias), Rowan Atkinson (ator que interpreta Mr. Bean) e os ex-beatles Ringo Starr e George Harrison.
    </p>


  </div>

</body>



</html>