<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/style.css" />
  <title>Home</title>
</head>

<body id="main">

  <nav class="dark-navbar">
    <div class="navbar-cointainer">


      <button class="button-56" role="button"> <a href="/about">
          About
        </a>
      </button>

      <button class="button2-56" role="button2"><a href="/works">
          Works
        </a></button>

      <button class="button3-56" role="button">
        <a href="/gallery">
          Photos
        </a>
      </button>

    </div>

  </nav>

  <div id="container">
    <div id="middle-box">
      <a class="link-to-gallery" href="/gallery">Welcome to The Ministry of Silly Walks</a>
    </div>

  </div>
  </div>

</body>

</html>